body
{
    background-attachment: fixed;
    color: grey;
    background: black;
    text-align:  center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 0 auto;

}

#cabecera
{
    background: slateblue ;
    color: white;
    box-shadow: 0px 5px 30px 0px black;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 30px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
    text-align: center;
}

#post
{
    background-color: white;
    padding: 1em;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}